<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TestApp.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TestApp.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TestApp.My.MySettings.ConnectionString" connectionString="Data Source=BAINESLENOVO;Initial Catalog=TestDb;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="TestApp.My.MySettings.UtilitiesConnectionString" connectionString="Data Source=BAINESLENOVO;Initial Catalog=TestDb;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <TestApp.My.MySettings>
            <setting name="EnableAudio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DataSourceDevelopmentTest" serializeAs="String">
                <value>BAINESLENOVO</value>
            </setting>
            <setting name="TestDataBase" serializeAs="String">
                <value>False</value>
            </setting>
        </TestApp.My.MySettings>
    </userSettings>
    <applicationSettings>
        <TestApp.My.MySettings>
            <setting name="DataSourceDevelopment" serializeAs="String">
                <value>BAINESLENOVO</value>
            </setting>
            <setting name="DataSourceLive" serializeAs="String">
                <value>BAINESLENOVO</value>
            </setting>
            <setting name="CatalogLive" serializeAs="String">
                <value>TestDb</value>
            </setting>
            <setting name="CatalogDevelopment" serializeAs="String">
                <value>TestDb</value>
            </setting>
            <setting name="CatalogTest" serializeAs="String">
                <value>TestDb</value>
            </setting>
            <setting name="DataSourceTest" serializeAs="String">
                <value>BAINESLENOVO</value>
            </setting>
            <setting name="SQLAuthenticationConnectionString" serializeAs="String">
                <value>Data Source=BAINESLENOVO;Initial Catalog=TestDb;User ID=RPBSQL;Password=Robin2023!Baines</value>
            </setting>
            <setting name="SQLAuthentication" serializeAs="String">
                <value>False</value>
            </setting>
        </TestApp.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
